# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\liuyun\05idea\DemoLayers\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
